In [13]:
import pandas as pd
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import numpy as np
df_rank = pd.read_csv('rank.csv', encoding='utf-8')
df_rank['기업연봉']= df_rank['기업연봉'].str.replace(',','').astype('int64')
pd.options.display.max_rows = 60
pd.options.display.max_columns = 20

In [18]:
df_rank.head()

   Unnamed: 0             기업이름 기업지역  기업연봉  기업평점
0           0        세이지리서치(주)   서울     0   4.9
1           1       페이스북코리아(유)   서울  8682   4.5
2           2        라이엇게임즈코리아   해외  6068   4.4
3           3  유니티테크놀로지스코리아(유)   서울  5781   4.4
4           4            네이버웹툰   경기  5255   4.4